/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #dc2626;
  --ifm-color-primary-dark: #c71f1f;
  --ifm-color-primary-darker: #bc1d1d;
  --ifm-color-primary-darkest: #9b1818;
  --ifm-color-primary-light: #e03939;
  --ifm-color-primary-lighter: #e54545;
  --ifm-color-primary-lightest: #ef5c5c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ef4444;
  --ifm-color-primary-dark: #dc2626;
  --ifm-color-primary-darker: #d01d1d;
  --ifm-color-primary-darkest: #b91c1c;
  --ifm-color-primary-light: #f87171;
  --ifm-color-primary-lighter: #f97979;
  --ifm-color-primary-lightest: #fca5a5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}